
@font-face{
    font-family: 'News Clycle';
    src: url('../Fonts/news_cycle.ttf') format('truetype')
}
@font-face{
    font-family: 'Contail one';
    src: url('../Fonts/contrail_one.ttf') format('truetype')
}

main{
    padding: 5px 10px;        
}

header >h1{
    font-size: 4em;
}
main > article > figcaption{
    font-size: 0.75em;
    font-style: italic;
}
article > time{
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}
main > h3{
    font-size: 2em;
}
body{
    
    font-family: 'News Clycle';
}
header{

    padding: 20px 50px;
    font-family: 'Contail one';
}

article{
    margin: 5px 0px;
    padding: 5px 5px;

}

main > article > figcaption::before{
    content: 'Picture above: ';
    font-weight: bold;
}

@media not print {
    
    body{
        color: #635959;

    }
    header{
        background-color: #242323;
        color: #EFEFEF;

    }
    
    article{

        box-shadow: -1px -1px 6px #888888;
    }
    main > h3, main > article > h4{
        color: #8C1018;
    }
    article > a{
        color: #314052;
    }
    
}

@media print {
    

    header{

        padding: 0px;
        
    }
    header > h1{
        font-size: 2em;
    }
    header > h2{
        display: none;
    }
    
    
    article{

        box-shadow: none;
    }
   
    
    
}
